#csv-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#dropzone {
  min-width: 10rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(105, 105, 105, 0.1);
  border: rgb(105, 105, 105);
  border-width: 1px;
  border-style: dashed;

  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
