#chart-preview {
  width: 100%;
  padding: 1.4rem;
  background-color: rgb(245, 245, 245);
}

#no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}

#no-data {
  width: 10rem;
  height: 10rem;
}
