#chart-panel {
  /* The 3.2rem in calc below is the height of the header plus its border-bottom */
  height: calc(100vh - 3.2rem);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  /* show scrollbars if the chart preview doesn't fit in the available viewport space */
  overflow-x: auto;
  overflow-y: auto;
}
