.chart-dimension-select {
  width: 12rem;
  padding: 0.35rem 0.2rem;
  margin-right: 2rem;
  border-style: solid;
  border-width: 0.08rem;
  border-color: rgb(105, 105, 105);
  outline: none;
}

.column-label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
