.styled-line-option{
  flex-grow: 1;
  padding: 0.54rem 0.2rem;
}

/* line styles */
.dashed{
  border: none;
  border-top: 0.1rem dashed;
}
   
.solid{
  border: none;
  border-top: 0.1rem solid;
}

.dotted{
  border: none;
  border-top: 0.1rem dotted;
}