/* Wrapper around the chart preview to allow scroll bars to work and to create the white-smoke margin around the preview */
#preview-wrapper {
  /* margin:auto prevents issue where flexbox fails to show centered content with small viewports and scroll activated 
  for overflow. More info: https://www.stefanjudis.com/today-i-learned/safe-unsafe-alignment-in-css-flexbox/ */
  margin: auto;
  background-color: rgb(245, 245, 245);
}

/* The heading area and the actual chart preview */
#chart-preview-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 1.9rem;
  margin-bottom: 1.9rem;
  margin-left: 1.9rem;
}

/* The 'Preview' heading and the 'View in full screen' link located above the chart */
#preview-heading-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.28rem 0rem;
}

/* The actual chart preview */
#chart-preview {
  flex-grow: 1;
  padding: 1.4rem;
  background-color: rgb(255, 255, 255);
}

#no-data {
  margin-bottom: 1rem;
}

#chart-preview-title {
  font-size: 1.5rem;
  font-weight: 600;
}

#preview-heading {
  margin: 0.4rem 0rem;
}

#preview-fullscreen-link {
  color: rgb(29, 112, 184);
}

#publish {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
}

#publish-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 101, 189);
  border-style: none;
}
