.y-series-select {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  min-width: 8rem;
}

.y-series-text {
  margin-right: 0.5rem;
  min-width: 8rem;
}

.add-dimension {
  margin-top: 0.5rem;
}
