#side-panel {
  height: 77vh;
  min-width: 25rem;
  overflow-y: scroll;
}

.chart-property {
  display: flex;
  align-items: center;
  margin-top: 0.7rem;
}

#data-source {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.label {
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.textbox {
  padding: 0.2rem;
  width: 16rem;
  margin-right: 2rem;
  border-style: none;
  background-color: aliceblue;
}

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.radio {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.property-section {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(50, 115, 220, 0.3);
  border-radius: 0.3rem;
}

.section-heading {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
