#side-panel {
  height: 77vh;
  min-width: 25rem;
  overflow-y: scroll;
}

.property-checkbox {
  margin-top: 2rem;
  vertical-align: text-bottom;
}

#data-source {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

div[id*="chartProperty"] {
  margin-top: 2rem;
  vertical-align: text-bottom;
}
