#side-panel {
  /* The 3.2rem in calc below is the height of the header plus its border-bottom */
  height: calc(100vh - 3.2rem);
  min-width: 30rem;
  overflow-y: scroll;
  margin-left: 2rem;
}

.chart-property {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.7rem;
}

.inline-chart-property {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.7rem;
}

#data-source {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.checkbox {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.chart-property-label {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.inline-chart-property-label {
  cursor: pointer;
  font-weight: 600;
}

.textbox {
  padding: 0.35rem 0.2rem;
  width: 24.5rem;
  margin-right: 2rem;
  border-style: solid;
  border-width: 0.08rem;
  border-color: rgb(105, 105, 105);
  outline: none;
}

.radio-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.radio {
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
}

.property-section {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(50, 115, 220, 0.3);
  border-radius: 0.3rem;
}

.section-heading {
  font-size: 1rem;
  font-weight: 600;
}

#selected-filename {
  font-weight: 600;
  margin-right: 0.5rem;
}

.close-button {
  font-size: 0.7rem;
  height: 1.4rem;
  width: 3.5rem;
  border-style: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(29, 112, 184);
  cursor: pointer;
}

#remove-data-source-button {
  height: 1rem;
}

.property-option {
  margin-top: 0.2rem;
}
