/* @/src/components/Table/Table.module.css */
.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
}

.tableHeader {
  padding: 8px;
  font-weight: bold;
  text-align: left;
  font-size: 19px;
  color: #0b0c0c;
  border-bottom: 1px solid #b1b4b6;
}

.tableRowItems {
  cursor: auto;
  border-bottom: 1px solid #b1b4b6;
  font-family: "GDS Transport Website";
}

.tableCell {
  padding: 8px;
  font-size: 19px;
  color: #0b0c0c;
  font-family: "GDS Transport Website";
}
