@font-face {
  font-family: GDSTransportWebsite;
  src: url(./fonts/GDSTransportWebsite.ttf);
  font-family: GDSTransportWebsite-Bold;
  src: url(./fonts/GDSTransportWebsite-Bold.ttf);
}
/* css reset  */
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "GDSTransportWebsite", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

#main-content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#chart-builder {
  display: flex;
}

#side-panel {
  height: 73vh;
  min-width: 20rem;
  overflow-y: scroll;
}

#chart-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
